section.TITLE, section.SECTION, section.IMAGE, section.NORMAL {
  text-align: center;
}

body.COMMANDLINE {
  background: black;
}

body.CODE {
  background: #eee8d5;
}

section.BULLETS {
  margin-left: 64px;
}
section.BULLETS h1 {
  text-align: center;
}
section.COMMANDLINE code {
  background: black;
  color: #00ff00;
}

section.COMMANDLINE .cli-prompt {
  font-weight: bold;
  color: white;
}

section.COMMANDLINE .cli-command {
  color: #00ffff;
}

section.CODE code {
  /*
  border-radius: 30px;
  */
  border-bottom-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  box-shadow: 0 0.3em 0.2em -0.2em #ddd7c4;
}
h1, h2, h3, h4 {
  margin: 0;
  font-family: "Arial rounded mt bold"
}
h2 {
  font-size: 90%;
}
h3 {
  font-size: 80%;
}
p, li {
  font-family: Helvetica;
}

li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1em;
  margin-right: 1em;
  line-height: 2em;
}

body.TITLE {
  background: #e9ba2a;
  color:white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

body.NORMAL {
  color: #262626;
  background: white;
}

body.SECTION {
  background: #f0812b;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

body.BULLETS li code {
  background: black;
  color: #00ff00;
  border: solid thin green;
  border-radius: .25em;
}


.honeycomb  { /* light */
  background: #e9ba2a;
}
.clementine { /* light-ish */
  background: #f0812b;
}
.slushie    { /* light */
  background: #5fb8dd;
}
.frosting   { /* medium (loud) */
  background: #ea0b8c;
}

.aloe   { /* dark */
  background: #50886b;
  color: white;
}
.berry  { /* dark */
  background: #508395;
  color: white;
}
.wasabi { /* medium */
  background: #9eae3d;
}
.grape  { /* dark */
  background: #92278f;
  color: white;
}
.spice  { /* medium */
  background: #eb3f3c;
}
.wine   { /* dark */
  background: #832e2f;
  color: white;
}

